/* Form Container */
.form-builder-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Mat-Form-Field (For Inputs & Select) */
mat-form-field {
    width: 100%;
}



.code-container {
    position: relative;
    background: #272822;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    /* overflow-x: auto; */
}

.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 24px;
    transition: 0.3s;
}

.copy-button:hover {
    background: rgba(255, 255, 255, 0.4);
}

pre {
    position: relative;
    margin: 0;
    padding-top: 30px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: scroll;
}



button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
    color: white;
}

@media (max-width: 600px) {
    .form-builder-container {
        width: 100%;
    }
}